<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.css" integrity="sha256-ZdPdgx9fZU2qFRxu9ejkHfEBScOXb4TdG9xq82Dd6J8=" crossorigin="anonymous">
    <title>Liam-ESP</title>
  </head>
  <body>
    <div class="all-wrapper">
      <div id="modal" class="center">
        <div class="vertical-center">
          <i class="fas fa-ban fa-10x"></i>
          <h3>No connection with mower!</h3>
          <p>Mower out of range, mower turned off, or WiFi not working?</p>
        </div>
      </div>
      <nav class="main-nav js-main-nav">
        <ul class="js-main-nav-list">
          <li class="js-main-nav-item js-nav-section-start" data-section="start"><span class="fas fa-home fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-manual" data-section="manual"><span class="fas fa-gamepad fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-metrics" data-section="metrics"><span class="fas fa-chart-bar fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-settings" data-section="settings"><span class="fas fa-cogs fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-schedule" data-section="schedule"><span class="far fa-clock fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-info" data-section="info"><span class="fas fa-info-circle fa-fw fa-2x"></span></li>
        </ul>
      </nav>
      <div class="main js-main">
        <section class="section js-section js-section-start" style="display: none">
          <div class="state-control">
              <div class="state pulsate js-state font-heavy">...</div>
              <div class="buttons center">
                <span class="js-launching button" style="display: none">Start mowing</span>
                <span class="js-docking button" style="display: none">Stop mowing</span>
                <span class="js-mowing button" style="display: none">Continue mowing</span>
                <span class="js-stop button" style="display: none">Emergency stop</span>
              </div>
            </div>
            <div>
              <canvas class="gl3dmodel js-gl3dmodel"></canvas>
            </div>
            <div style="display:-webkit-flex;display:flex">
              <div class="battery center">
                <svg class="js-battery" viewBox="0 0 500 1000" preserveAspectRatio="xMaxYMax meet">
                    <g transform="matrix(0,-0.80653296,1,0,-0.00407,808.4617)">
                      <path class="outline" d="m -136.9163,50.635005 c -42.68166,1.67 -58.75641,8.8 -71.91854,32.11 -4.96498,9.04 -5.55488,19.029995 -5.55488,167.689995 0,148.43 0.5899,158.66 5.55488,167.7 6.42745,11.65 18.42206,21.64 33.03435,27.59 10.51987,4.28 25.42712,4.52 511.86041,4.52 h 500.75064 l 15.79209,-7.85 c 18.40978,-9.04 32.1618,-26.88 32.1618,-42.34 v -9.28 h 24.2596 c 38.88419,-0.24 61.38638,-9.99 73.95861,-31.87 L 990,346.775 v -96.34 c 0,-91.82 -0.29495,-96.81 -6.13249,-107.04 -13.14984,-23.55 -30.10944,-31.4 -70.45608,-32.83 l -28.64698,-0.95 v -8.8 c 0,-19.979995 -25.14445,-45.669995 -48.23654,-49.239995 -11.40472,-1.65 -928.710191,-2.61 -973.44421,-0.94 z m 970.51929,41.62 c 6.72239,5.23 7.31229,7.37 7.31229,29.499995 v 23.79 l 45.60658,0.71 45.60657,0.71 7.01734,6.66 7.01735,6.66 v 90.15 90.15 l -7.01735,6.66 c -7.01734,6.66 -7.59494,6.66 -41.7968,7.14 -18.99967,0.24 -39.4618,0.47 -45.31163,0.47 l -11.10977,0.24 v 23.79 c 0,22.36 -0.5899,24.5 -7.31229,29.73 l -7.01735,5.95 H 335.77726 c -479.121,0 -491.10332,0 -497.82572,-4.52 l -7.01734,-4.52 V 250.435 95.345005 l 7.01734,-4.52 c 6.7224,-4.52 18.70472,-4.52 497.82572,-4.52 h 490.80838 z" style="fill:#b3b3b3;" />
                      <path d="m 868.45,176.03407 -5.71,4.52 v 69.45 69.46 l 5.71,4.52 c 3.09,2.38 8.56,4.52 12.13,4.52 3.57,0 9.04,-2.14 12.13,-4.52 l 5.71,-4.52 v -69.46 -69.46 l -5.71,-4.52 c -3.09,-2.38 -8.56,-4.52 -12.13,-4.52 -3.57,0.01 -9.04,2.15 -12.13,4.53 z" />
                      <path class="js-tick" d="m 726.82058,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                      <path class="js-tick" d="m 630.59044,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                      <path class="js-tick" d="m 534.36029,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                      <path class="js-tick" d="m 438.13012,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                      <path class="js-tick" d="m 341.89997,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                      <path class="js-tick" d="m 245.66981,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                      <path class="js-tick" d="m 149.43966,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                      <path class="js-tick" d="m 53.209498,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                      <path class="js-tick" d="m -43.020654,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                      <path class="js-tick" d="m -139.25081,250.00407 v 130 h 40 40 v -130 -130 h -40 -40 z" style="fill:#b3b3b3;" />
                    </g>
                </svg>
                <span class="battery-value js-battery-value" style="display: none">100%</span>
                <i class="fas fa-plug fa-2x js-charging" style="display: none"></i>
              </div>
            </div>
        </section>
        <section class="section js-section js-section-manual" style="display: none">
          <div class="state-control">
            <svg class="joystick" viewBox="0 0 100 100" preserveAspectRatio="xMaxYMax meet">
              <circle class="joypad" cx="50" cy="50" r="48" stroke="#1E90FF" stroke-width="1" fill="#0000FF55"/>
              <circle class="joyknob" cx="50" cy="50" r="10" stroke="#B0E0E6" stroke-width="2" fill="#4169E180"/>
            </svg>
            <div class="buttons center">
              <span class="js-startmower button">Start cutter</span>
              <span class="js-stopmower button">Stop cutter</span>
            </div>
          </div>
        </section>
        <section class="section js-section js-section-metrics" style="display: none">
            <h3>Battery voltage (V)</h3>
            <div id="battery-chart" class="ct-chart ct-minor-seventh"></div>
            <h3>WiFi reception (dBm)</h3>
            <div id="wifi-chart" class="ct-chart ct-minor-seventh"></div>
            <h3>Cuttermotor load (%)</h3>
            <div id="cutterload-chart" class="ct-chart ct-minor-seventh"></div>
        </section>
        <section class="section js-section js-section-settings" style="display: none">
          <div class="buttons center">
            <a href="/setup" class="button">Installation wizard</a>
            <span class="js-restart button">Reboot</span>
            <span class="js-factoryreset button">Factory reset</span>
          </div>
          <label for="loglever" class="center">Choose loglevel:</label>
          <select id="loglever" class="center">
            <option value="0">None</option>
            <option value="2">Error</option>
            <option value="3">Warning</option>
            <option value="4" selected="selected">Notice</option>
            <option value="6">Verbose</option>
          </select>

          <div class="center">
            <fieldset>
              <legend>REST API</legend>
              <label for="apikey">key</label>
              <input id="apikey" disabled />
              <span class="js-generateApiKey button">New key</span>
              <br>
              <a href="/swagger.html" target="_blank">OpenAPI documenation</a>
            </fieldset>            
          </div>
        </section>
        <section class="section js-section js-section-schedule" style="display: none">
        </section>
        <section class="section js-section js-section-info" style="display: none">
          <div>
            <p>
              Application:&nbsp;<strong><span class="appName"></span></strong><br>
              Version:&nbsp;<strong><span class="appVersion"></span></strong><br>
              Uptime:&nbsp;<span class="uptime"></span><br>
              CPU frequency:&nbsp;<strong><span class="cpuFreq"></span></strong>&nbsp;MHz<br>
              Flash chipsize:&nbsp;<strong><span class="flashChipSize"></span></strong>&nbsp;Bytes<br>
              Free heap memory:&nbsp;<strong><span class="freeHeap"></span></strong>&nbsp;Bytes<br>
              WiFi signal:&nbsp;<strong><span class="wifiSignal"></span></strong>
            </p>            
          </div>
          <div>
            <label for="syslog">System log:</label>
            <textarea id="syslog" name="syslog" rows="10"readonly></textarea>
          </div>
        </section>
      </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gl-matrix@2.8.1/dist/gl-matrix-min.js" integrity="sha256-+09xst+d1zIS41eAvRDCXOf0MH993E4cS40hKBIJj8Q=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js" integrity="sha256-UzffRueYhyZDw8Cj39UCnnggvBfa1fPcDQ0auvCbvCc=" crossorigin="anonymous"></script>
  </body>
</html>
