<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.css" integrity="sha256-ZdPdgx9fZU2qFRxu9ejkHfEBScOXb4TdG9xq82Dd6J8=" crossorigin="anonymous">
    <title>Liam-ESP</title>
  </head>
  <body>
    <div class="all-wrapper">
      <nav class="main-nav js-main-nav">
        <ul class="js-main-nav-list">
          <li class="js-main-nav-item js-nav-section-start" data-section="start"><span class="fas fa-home fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-manual" data-section="manual"><span class="fas fa-gamepad fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-metrics" data-section="metrics"><span class="fas fa-chart-bar fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-settings" data-section="settings"><span class="fas fa-cogs fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-schedule" data-section="schedule"><span class="far fa-clock fa-fw fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-info" data-section="info"><span class="fas fa-info-circle fa-fw fa-2x"></span></li>
        </ul>
      </nav>
      <div class="main js-main">
        <section class="section js-section js-section-start" style="display: none">
          <div class="state-control">
              <div class="state pulsate js-state font-heavy">...</div>
              <div class="buttons center">
                <span class="js-launching button">Start mowing</span>
                <span class="js-docking button">Stop mowing</span>
                <span class="js-mowing button">Continue mowing</span>
                <span class="js-stop button">Emergency stop</span>
              </div>
            </div>
            <div>
              <canvas class="js-3dmodel"></canvas>
            </div>
            <div>
              <svg class="js-compass" viewBox="0 0 200 200" preserveAspectRatio="xMaxYMax meet">
                  <circle cx="100" cy="100" r="85" stroke="#B0E0E6" stroke-width="1" fill="#0000"/>
                  <path class="js-arrow" d="m 156.47152,156.35652 c 0,-0.29985 -56.47027,-112.94119 -56.563829,-112.827952 -0.3139,0.379934 -56.482411,112.856052 -56.379065,112.897742 0.0675,0.0272 12.79439,-5.43594 28.281967,-12.14038 l 28.15924,-12.18987 28.113477,12.18773 c 15.46241,6.70325 28.1753,12.18773 28.25084,12.18773 0.0756,0 0.13737,-0.0517 0.13737,-0.115 z"
                        fill="#750031ff"/>
              </svg>
            </div>
        </section>
        <section class="section js-section js-section-manual" style="display: none">
          <div class="state-control">
            <svg class="joystick" viewBox="0 0 100 100" preserveAspectRatio="xMaxYMax meet">
              <circle class="joypad" cx="50" cy="50" r="48" stroke="#1E90FF" stroke-width="1" fill="#0000FF55"/>
              <circle class="joyknob" cx="50" cy="50" r="10" stroke="#B0E0E6" stroke-width="2" fill="#4169E180"/>
            </svg>
            <div class="buttons center">
              <span class="js-startmower button">Start cutter</span>
              <span class="js-stopmower button">Stop cutter</span>
            </div>
          </div>
        </section>
        <section class="section js-section js-section-metrics" style="display: none">
            <h3>Battery voltage (V)</h3>
            <div id="battery-chart" class="ct-chart ct-minor-seventh"></div>
            <h3>WiFi reception (dBm)</h3>
            <div id="wifi-chart" class="ct-chart ct-minor-seventh"></div>
            <h3>Cuttermotor load (%)</h3>
            <div id="cutterload-chart" class="ct-chart ct-minor-seventh"></div>
        </section>
        <section class="section js-section js-section-settings" style="display: none">
          <div class="buttons center">
            <a href="/setup" class="button">Installation wizard</a>
            <span class="js-restart button">Reboot</span>
            <span class="js-factoryreset button">Factory reset</span>
          </div>
          <label for="loglever" class="center">Choose loglevel:</label>
          <select id="loglever" class="center">
            <option value="0">None</option>
            <option value="2">Error</option>
            <option value="3">Warning</option>
            <option value="4" selected="selected">Notice</option>
            <option value="6">Verbose</option>
          </select>
        </section>
        <section class="section js-section js-section-schedule" style="display: none">
        </section>
        <section class="section js-section js-section-info" style="display: none">
          <div>
            <p>
              Application:&nbsp;<span class="appName"></span><br>
              Version:&nbsp;<span class="appVersion"></span><br>
              Uptime:&nbsp;<span class="uptime"></span><br>
              CPU frequency:&nbsp;<span class="cpuFreq"></span>&nbsp;MHz<br>
              Flash chipsize:&nbsp;<span class="flashChipSize"></span>&nbsp;Bytes<br>
              Free heap memory:&nbsp;<span class="freeHeap"></span>&nbsp;Bytes<br>
              WiFi signal:&nbsp;<span class="wifiSignal"></span>
            </p>            
          </div>
          <div>
            <label for="syslog">System log:</label>
            <textarea id="syslog" name="syslog" rows="10"readonly>hejsan</textarea>
          </div>
          <div>
            <a href="/swagger.html" target="_blank">REST API</a>
          </div>
        </section>
      </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js" integrity="sha256-UzffRueYhyZDw8Cj39UCnnggvBfa1fPcDQ0auvCbvCc=" crossorigin="anonymous"></script>
  </body>
</html>
