<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.css" integrity="sha256-ZdPdgx9fZU2qFRxu9ejkHfEBScOXb4TdG9xq82Dd6J8=" crossorigin="anonymous">
    <title>Liam-ESP</title>
  </head>
  <body>
    <div class="all-wrapper">
      <nav class="main-nav js-main-nav">
        <ul class="js-main-nav-list">
          <li class="js-main-nav-item js-nav-section-start" data-section="start"><span class="fa fa-home fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-manual" data-section="manual"><span class="fa fa-gamepad fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-metrics" data-section="metrics"><span class="fa fa-bar-chart fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-settings" data-section="settings"><span class="fa fa-cogs fa-2x"></span></li>
          <li class="js-main-nav-item js-nav-section-info" data-section="info"><span class="fa fa-info-circle fa-2x"></span></li>
        </ul>
      </nav>
      <div class="main js-main">
        <section class="section js-section js-section-start">
          <div class="state-control">
              <div class="state pulsate js-state font-heavy">...</div>
              <div class="buttons center">
                <span class="js-launching button">Starta klippning</span>
                <span class="js-docking button">Avbryt klippning</span>
                <span class="js-mowing button">Fortsätt klippa</span>
                <span class="js-stop button">Nödstopp</span>
              </div>
            </div>
        </section>
        <section class="section js-section js-section-manual">
          <div class="state-control">
            <svg class="joystick" viewBox="0 0 160 160" preserveAspectRatio="xMaxYMax meet">
              <circle class="joypad" cx="80" cy="80" r="78" stroke="#1E90FF" stroke-width="1" fill="#0000FF55"/>
              <circle class="joyknob" cx="80" cy="80" r="15" stroke="#B0E0E6" stroke-width="2" fill="#4169E180"/>
            </svg>
            <div class="buttons center">
              <span class="js-startmower button">Starta klippare</span>
              <span class="js-stopmower button">Stoppa klippare</span>
            </div>
          </div>
        </section>
        <section class="section js-section js-section-metrics">
            <h3>Battery voltage</h3>
            <div id="battery-chart" class="ct-chart ct-minor-seventh"></div>
            <h3>WiFi reception</h3>
            <div id="wifi-chart" class="ct-chart ct-minor-seventh"></div>
            <h3>Cuttermotor load (%)</h3>
            <div id="cutterload-chart" class="ct-chart ct-minor-seventh"></div>
        </section>
        <section class="section js-section js-section-settings">
          <div class="buttons center">
            <a href="/setup" class="button">Installations guide</a>
            <span class="js-restart button">Starta om</span>
            <span class="js-factoryreset button">Fabriks återställ</span>
        </section>
        <section class="section js-section js-section-info">
          <div>
            <p>
              Application:&nbsp;<i class="appName"></i><br>
              Version:&nbsp;<i class="appVersion"></i><br>
              Uptime:&nbsp;<i class="uptime"></i><br>
              CPU frequency:&nbsp;<i class="cpuFreq"></i>&nbsp;MHz<br>
              Flash chipsize:&nbsp;<i class="flashChipSize"></i>&nbsp;Bytes<br>
              Free heap memory:&nbsp;<i class="freeHeap"></i>&nbsp;Bytes<br>
              WiFi signal:&nbsp;<i class="wifiSignal"></i>&nbsp;dBm
            </p>
            <a href="/swagger.html" target="_blank">REST API</a>
          </div>
        </section>
      </div>
    </div>
    <script src="//use.fontawesome.com/7690b4446d.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js" integrity="sha256-UzffRueYhyZDw8Cj39UCnnggvBfa1fPcDQ0auvCbvCc=" crossorigin="anonymous"></script>
  </body>
</html>
