@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* UNIVERSAL */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background: #1a2126;
  color: white;
}
@media (min-width: 480px) {
  html,
  body {
      overflow: hidden
  }
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
    background: transparent
}
input[type=range]:focus {
    outline: none
}
/* ROOT FONT STYLES */
* {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.5;
}
/* TYPOGRAPHY */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.375rem;
}
p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-heavy {
  font-weight: 700;
}
/* POSITIONING */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.justify {
  text-align: justify;
}
/* Theme - light */
.theme-light body {
    background: #e3e3e3;
    color: #555555
}
.theme-light .nav-left {
    background: #e3e3e3;
    border-right: 1px solid #999;
    box-shadow: none;
    color: #111
}
.theme-light .box {
    background: #ffffff
}
.theme-light .clickable-active {
    background: #d8d8d8
}
/* Navigation meny */
.nav-left {
    position: fixed;
    width: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background: #101519;
    border-right: 1px solid #1a2126;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}
.nav-left-list {
    margin: 0;
    padding: 10px 0px;
}
.nav-left-item {
    display: block;
    padding: 30% 15%;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    opacity: .6;
}
.nav-left-item.active {
    opacity: 1;
}
.nav-left-item .fa {
    display: block;
    margin: 0 auto 5px auto;
}
/* Main area */
.main {
    position: absolute;
    left: 63px;
    padding: 10px;
}
.section:after {
    content: "";
    display: table;
    clear: both
}
.clickable-active {
    transition-duration: 0ms;
    background: #303b44
}
a {
    color: #0066BBFF;
    text-decoration: none;
}
.buttons {
  display:flex;
  justify-content:space-around;
}
.button {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  padding: 0 10px;
  font-size: 15px;
  margin: 5px;
  color: #bbb;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(black, .7);
  background-color: #303030;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #202020 #1a1a1a #111;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #3d3d3d, #272727);
  box-shadow: 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  white-space:nowrap;
}
.button-round-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 25%;
}
.button-round-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 25%;
}
.button:hover {
  background-color: #363636;
  background-image: linear-gradient(top, #404040, #2a2a2a);
}
.button:active,
.button.active {
  line-height: 34px;
  color: #ccc;
  background-color: #b42f32;
  border-color: #1c1c1c #202020 #222;
  background-image: linear-gradient(to bottom, #a3161a, #b63335 60%, #bf4749);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}
.button-group.round :first-child {
  border-radius: 5000px 0 0 5000px;
}
.button-group.round :last-child {
  border-radius: 0 5000px 5000px 0;
}
.heading {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center
}
.pulsate {
    -webkit-animation: pulsate 3s ease-out infinite;
    animation: pulsate 3s ease-out infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}
.icons.md-18 {
    font-size: 18px
}
.fa.md-24 {
    font-size: 24px
}
.fa.md-36 {
    font-size: 36px
}
.fa.md-48 {
    font-size: 48px
}
.fa.md-64 {
    font-size: 64px
}

.state-control .state {
  color: red;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  text-align: center;
}
.state-control .buttons {
  margin-bottom: 10px;
}

.joystick {
    display: inline-block;
    margin: auto;
    .joyknob {
        cursor: move;
    }
}
