@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* Navigation width in percent of viewport */
$nav_width: 15vw;

/* UNIVERSAL */
html, body {
    height: 100%;
    width: 100%;
    /*overflow-x: hidden;*/
    font-size: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}
*, *::after, *::before {
    box-sizing: border-box;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
    background: transparent
}
input[type=range]:focus {
    outline: none
}
ol, ul {
    margin: 0;
    padding: 0;
}
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a {
    color: #0066BBFF;
    text-decoration: none;
}
label,select, textarea {
    font-family : inherit;
    font-size   : 100%;
    display:block;
}
select {
    width: 100%;
    max-width: 200px;
    border-radius: 4px;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ROOT FONT STYLES */
* {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.5;
}
/* TYPOGRAPHY */
h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}
h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}
h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}
p {
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 1.8;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-heavy {
  font-weight: 700;
}
/* POSITIONING */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.justify {
  text-align: justify;
}
/* Theme - light */
.theme-light {
    .all-wrapper {
        background: #e3e3e3;
        color: #555555
    }
    .main-nav {
        background: #e3e3e3;
        border-right: 1px solid #999;
        box-shadow: none;
        color: #111
    }
    .clickable-active {
        background: #d8d8d8
    }
}
/* Wrapper (that wraps both navigation menu and main area)*/
.all-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: $nav_width 100vw - $nav_width;
    background: #1a2126;
    color: white;
}
/* Navigation menu */
.main-nav {
    text-align: center;
    position: relative;
    z-index: 30;
    background: #101519;
    padding: 1rem 0 0 0;
    border-right: 1px solid #1a2126;
    display: block;
    >ul {
        >li {
            position: relative;
            cursor: pointer;
            opacity: 0.5;
            .fa-fw {
                margin: 1rem auto 1rem auto;
            }
        }
        .active {
            opacity: 1;
        }
    }
}
/* Main area */
.main {
    margin: 0.5rem;
}
.section:after {
    content: "";
    display: table;
    clear: both;
}
.clickable-active {
    transition-duration: 0ms;
    background: #303b44
}
.button {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  padding: 0 10px;
  font-size: 15px;
  margin: 5px;
  color: #bbb;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(black, .7);
  background-color: #303030;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #202020 #1a1a1a #111;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #3d3d3d, #272727);
  box-shadow: 0 1px rgba(255, 255, 255, 0.09), 0 1px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 200px;
  white-space:nowrap;
  @include no-select;
}
.button-round-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 25%;
}
.button-round-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 25%;
}
.button:hover {
  background-color: #363636;
  background-image: linear-gradient(top, #404040, #2a2a2a);
}
.button:active,
.button.active {
  line-height: 32px;
  color: #ccc;
  background-color: #b42f32;
  border-color: #1c1c1c #202020 #222;
  background-image: linear-gradient(to bottom, #a3161a, #b63335 60%, #bf4749);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}
.button-group.round :first-child {
  border-radius: 5000px 0 0 5000px;
}
.button-group.round :last-child {
  border-radius: 0 5000px 5000px 0;
}
.heading {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center
}
.pulsate {
    -webkit-animation: pulsate 3s ease-out infinite;
    animation: pulsate 3s ease-out infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}
.state-control {
    .state {
        color: red;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 3.0;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        text-align: center;
    }
} 
.joystick {
    display: block;
    max-width: 600px;
    margin: auto;
    .joyknob {
        cursor: move;
    }
}
/* Charts */
.ct-chart .ct-label.ct-vertical,
.ct-chart .ct-label.ct-horizontal {
  color: rgba(255, 255, 255, 0.5);
} 
.ct-chart .ct-grid.ct-vertical,
.ct-chart .ct-grid.ct-horizontal {
  stroke: rgba(255, 255, 255, 0.1);
  stroke-dasharray: 2px;
  shape-rendering: crispEdges;
}

.ct-chart .ct-series.ct-series-a .ct-line {
  stroke: #008000;
  stroke-width: 2px;
  stroke-linecap: round;
}

#syslog {
  width: 100%;
}